# Environment variables
.env
.vscode/

# Plan
Plan.pdf

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environment
venv/

# OS files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Outputs
outputs/
data/predictions/

# Dataset
dataset/

# Large classification model
models/classification/convnextv2_best.pt