fastapi
uvicorn
pydantic-settings
sqlalchemy
psycopg[binary]
pgvector
python-multipart==0.0.32
alembic

torch
torchvision
timm
ultralytics
pillow

numpy
pandas
sentence-transformers
transformers

httpx2
openai
tavily-python

sentencepiece
protobuf

langgraph
rapidfuzz
